.slidecontainer {
  width: 100%;
  /* Width of the outside container */
}
.typ1 {
  -webkit-appearance: none;
  float: right;
  /* Override default CSS styles */
  appearance: none;
  /* Adding the vars for the thumb */
  --thumbWidth: 25px;
  --thumbHeight: 25px;
  --thumbBackground: grey;
  --thumbBorderColor: grey;
  --thumbBorderRadius: 1px;
  --thumbBorderStyle: solid;

}

.typ1::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;

  width: var(--thumbWidth);
  height: var(--thumbHeight);
  background: var(--thumbBackground);
  border-style: var(--thumbBorderStyle);
  border-radius: var(--thumbBorderRadius);
  border-color: var(--thumbBorderColor);
  
}

.typ2 {
  -webkit-appearance: none;
  float: right;
  overflow: hidden;
  /* Override default CSS styles */
  appearance: none;
  /* Adding the vars for the thumb */
  --thumbWidth: 25px;
  --thumbHeight: 25px;
  --thumbBackground: grey;
  --thumbBorderColor: grey;
  --thumbBorderRadius: 1px;
  --thumbBorderStyle: solid;
  --thumbBoxShadow: -200px 0 0 200px dodgerblue;

}

.typ2::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;

  width: var(--thumbWidth);
  height: var(--thumbHeight);
  background: var(--thumbBackground);
  border-style: var(--thumbBorderStyle);
  border-radius: var(--thumbBorderRadius);
  border-color: var(--thumbBorderColor);
  box-shadow: var(--thumbBoxShadow);
  
}

.typ3{
  -webkit-appearance: none;
  float: right;
  /* Override default CSS styles */
  appearance: none;
  /* Adding the vars for the thumb */
  --thumbWidth: 25px;
  --thumbHeight: 25px;
  --thumbBackground: grey;
  --thumbBorderColor: grey;
  --thumbBorderRadius: 1px;
  --thumbBorderStyle: solid;

}

.typ3::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;

  width: var(--thumbWidth);
  height: var(--thumbHeight);
  background: var(--thumbBackground);
  border-style: var(--thumbBorderStyle);
  border-radius: var(--thumbBorderRadius);
  border-color: var(--thumbBorderColor);
  
}

.buffer{
  height: 75px;
  margin: 25px;
}